[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"
pytest-cov = "*"
async-timeout = "*"

[packages]
ujson = "*"
sanic = "*"
cryptography = "*"

[requires]
python_version = "3.7"
